{% extends "themes/nautica05/base.html" %}

{% load i18n %}

{% block breadcrumbs %}
	{% if page.breadcrumbs %}
		{% for breadcrumb in page.breadcrumbs %}
			<a href="{{ breadcrumb.path }}">{{ breadcrumb.name }}</a>
			{% if not forloop.last %}
			  &raquo;
			{% endif %}
	    {% endfor %}
	{% endif %}
{% endblock %}
{% block heading %}
  	{% block title %}
		{{ page.title|escape }}
	{% endblock %}	
{% endblock %}

{% block content %}
	 {% if page.content %}
	   <p>{{ page.content|safe }}</p>
	 {% else %}
	   <p>{% trans "This page does not yet have any content." %}</p>
	 {% endif %} 
{% endblock %}

{% block right_column %}
{% if is_editor %}
	<ul class="submenu1">
		<li><a href="{% url views.admin.edit_page page.key.id %}">{% trans "Edit page" %}</a></li>
		<li><a href="{% url views.admin.new_page page.key.id %}">{% trans "Add child" %}</a></li>
	</ul>
	{% if files %}
	    <h1>{% trans "Attached files" %}:</h1>
	    <ul style="submenu1">
	    {% for file in files %}
	      <l>
	      {% if file.url %}
	        <a href="{{ file.url }}">
	      {% else %}
	        <a href="{% url views.main.get_url file.path %}">
	      {% endif %}
	          {{ file.name }}</a>
	      </li>
	    {% endfor %}
	    </ul>
	{% endif %}
					
  {% endif %}
{% endblock %}

